h1
{
	color: red; 
	font-size: 40px;
}
.body_backgorund {
	background-position: center;
	background-size: cover;
	text-align: center;
	background-color:sandybrown;
}
.logo{
background-position: center;

}



